<div class="container">

	<div class="login-container" login-form>

        <div id="output"></div>
        <div class="avatar"></div>
        
        <div class="form-box">
            <form name="forgotForm" ng-submit="Forgot()">
                <input ng-model="credentials.username" name="user" type="text" placeholder="Usuario">

                <button class="btn btn-info btn-block login" type="submit">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    &nbsp;Enviar Contraseña
                </button>            
            </form>          
        </div>
    </div>

</div>