<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <a class="navbar-brand" href="#">{{username}}</a>
            </a>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuraci&oacute;n <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-toggle="modal" data-target="#changePassModal">
                            <a href="#">Cambiar Contraseña</a>
                        </li>
                        <li >
                            <a href="#/" ng-click="Logout()">Cerrar Sesi&oacute;n</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container menu-container">
    <div class="row">

        <div ng-if="isAdmin" class="col-md-4 col-md-offset-1 col-sm-6 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp;Administraci&oacute;n de Empleados
                    </h3>
                </div>
                <div class="panel-body main-menu">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-12">
                            <a href="#/createEmployee" class="btn btn-success btn-block" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <br/>Crear
                            </a>

                            <a href="#/searchEmployee" class="btn btn-default btn-block" role="button">
                                <span class="glyphicon glyphicon-search"></span>
                                <br/>Buscar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1 col-sm-6 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-time"></span>
                        &nbsp;Horas Extra
                    </h3>
                </div>
                <div class="panel-body main-menu">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-12">
                            <a href="#/addHours" class="btn btn-success btn-block" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <br/>Crear
                            </a>

                            <a href="#/approveHours" class="btn btn-default btn-block" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <br/>Aprobar
                            </a>
                        </div>
                        <div ng-if="isAdmin" class="col-xs-12 col-md-6 col-lg-12">
                            <a href="#/liquidateHours" class="btn btn-info btn-block" role="button">
                                <span class="glyphicon glyphicon-ok"></span>
                                <br/>Liquidar
                            </a>
                        </div>
                        <div ng-if="isAdmin" class="col-xs-12 col-md-6 col-lg-12">
                            <a href="#/reportLiquidateHours" class="btn btn-warning btn-block" role="button">
                                <span class="glyphicon glyphicon-file"></span>
                                <br/>Reporte Detallado Horas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="isAdmin" class="col-md-4 col-md-offset-1 col-sm-6 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-calendar"></span>
                        &nbsp;Horarios
                    </h3>
                </div>
                <div class="panel-body main-menu">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-12">
                            <a href="#/schedules" class="btn btn-success btn-block" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <br/>Administrar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1 col-sm-6 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        &nbsp;Solicitudes
                    </h3>
                </div>
                <div class="panel-body main-menu">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-12">
                            <a href="#/vacations" class="btn btn-success btn-block" role="button">
                                <span class="glyphicon glyphicon-plane"></span>
                                <br/>Vacaciones
                            </a>

                            <!--<a href="#/approveHours" class="btn btn-default btn-block" role="button">
                                <span class="glyphicon glyphicon-usd"></span>
                                <br/>Desprendibles de Nómina
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changePassModalLabel">Cambiar Contraseña</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="firstPass">Contraseña</label>
                            <div class="col-md-5">
                                <input id="firstPass" name="firstPass" type="password" placeholder="Contraseña" class="form-control input-md" ng-model="passwords.firstPassword" required="">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="confirmPass">Confirmar Contraseña</label>
                            <div class="col-md-5">
                                <input id="confirmPass" name="confirmPass" type="password" placeholder="Confirmar Contraseña" class="form-control input-md" ng-model="passwords.confirmPassword" required="">

                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i>&nbsp;Cerrar
                </button>
                <button id="changePassButton" type="button" class="btn btn-success" ng-click="ValidatePassword()">
                    <i class="fa fa-exchange"></i>
                    Cambiar
                </button>
            </div>
        </div>
    </div>
</div>
