<div class="container">

	<div class="login-container" login-form>

        <div id="output"></div>
        <div class="avatar"></div>
        
        <div class="form-box">
            <form name="loginForm" ng-submit="Login()">
                <input ng-model="credentials.username" name="user" type="text" placeholder="Usuario">
                <input ng-model="credentials.password" type="password" placeholder="Contraseña">

                <button class="btn btn-info btn-block login" type="submit">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    &nbsp;Iniciar Sesión
                </button>

                <a href="#/forgotPassword" class="btn btn-danger btn-block login" role="button">
                    <span class="glyphicon glyphicon-cog"></span>
                    &nbsp;Olvidé mi Contraseña
                </a>              
            </form>          
        </div>
    </div>

</div>