.form-crud {
  padding-top: 2%;
}
.button-datePicker {
  height: 34px;
}
.buttonPanel {
  padding: 9px 11px 9px 11px;
}
.required label {
  font-weight: bold;
}
.required label:after {
  color: #e32;
  content: ' *';
  display: inline;
}
.buttonPanel {
  padding: 9px 11px 9px 11px;
}
.extraHourTemplate {
  cursor: pointer;
}
.footerModalDetaill {
  border-top: none !important;
}
#labelTimePicker {
  padding-top: 2.4em;
}
.scheduleHeader {
  cursor: pointer;
}
.scheduleModalFooter {
  border-top: none;
}
.timepickersContainer {
  padding-left: 4em;
}
.buttonsContainer {
  padding-bottom: 2em;
}
.labelContainer {
  text-align: center;
  font-size: 2em;
  color: #ccc;
}
.backButtonContainer {
  padding-top: 1em;
}
.fastScheduleHeader {
  cursor: pointer;
  color: #002146;
}
body {
  background: #eee;
}
html,
body {
  position: relative;
  height: 100%;
}
.login-container {
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}
.login-container::after {
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}
#output {
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}
#output.alert-success {
  background: #19cc19;
}
#output.alert-danger {
  background: #e46969;
}
.login-container::before,
.login-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.5px;
  left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;
}
.avatar {
  width: 90%;
  height: 100px;
  margin: 10px auto 30px;
  border-radius: 20%;
  border: 2px solid #aaa;
  background-size: cover;
  background-image: url('../images/logo_blanco.jpg')
}
.form-box input {
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 40px;
  border: 1px solid #ccc;
  background: #fafafa;
  transition: 0.2s ease-in-out;
}
.form-box input:focus {
  outline: 0;
  background: #eee;
}
.form-box input[type="text"] {
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}
.form-box input[type="password"] {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}
.form-box button.login {
  margin-top: 15px;
  padding: 10px 20px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.menu-container{
  padding-top: 4%;
}

.btn-datepicker{
  height: 34px;
}

.panel-body.main-menu {
  height: 250px !important;
}

.cellStatus{
    padding-top: 0.5em;
    text-align:center;
    font-size: 1.3em;
}
.buttons-grid-container{
  margin-top: 0.3em;
}

.button-grid{
  height: 25px;
}