<div class="container form-crud">
    <div>
        <form class="form-horizontal" name="createForm" ng-submit="Save()">
            <fieldset>

                <!-- Form Name -->
                <legend>Crear Área</legend>

                <!-- Text input-->
                <div class="form-group required">
                    <label class="col-md-4 control-label" for="Name">Descripción</label>
                    <div class="col-md-6">
                        <input id="Name" name="Name" type="text" placeholder="Descripci&oacute;n" class="form-control input-md" ng-model="newArea.nombre" required>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-8 control-label" for="Save_Button"></label>
                    <div class="col-md-4">


                        <button id="Save_Button" name="Save_Button" class="btn btn-success" type="submit"
                            ng-disabled="createForm.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&ensp;Guardar
                        </button>

                        <a id="Cancel_Button" name="Cancel_Button" class="btn btn-default" href="#/home">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&ensp;Volver
                        </a>

                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="col-md-12">
        <div style="height: 100%" ng-grid="gridOptions"></div>
    </div>
       
</div>

