<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="" aria-controls="myRequests" role="tab" data-toggle="tab" data-target="#myRequests">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Mis Solicitudes
            </a>
        </li>
        <li role="presentation">
            <a href="" aria-controls="approveRequests" role="tab" data-toggle="tab" data-target="#approveRequests">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Solicitudes por aprobar
            </a>
        </li>
        <li role="presentation">
            <a href="" aria-controls="areaRequests" role="tab" data-toggle="tab" data-target="#areaRequests">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Solicitudes a &Aacute;rea
            </a>
        </li>
        <li role="presentation" ng-show="authorizedRequestsOptions">
            <a href="" aria-controls="authorizedRequests" role="tab" data-toggle="tab" data-target="#authorizedRequests">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;Solicitudes por autorizar
            </a>
        </li>
        <li role="presentation" ng-show="liquidatedRequestsOptions">
            <a href="" aria-controls="liquidatedRequests" role="tab" data-toggle="tab" data-target="#liquidatedRequests">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;Liquidadas / Por Liquidar
            </a>
        </li>
        
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="myRequests">
            <div class="col-md-12">
                <div id="myRequestGrid" style="height: 100%" ng-grid="myRequestsOptions"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="approveRequests">
            <div class="col-md-12">
                <div id="approveRequestsGrid" style="height: 100%" ng-grid="approveRequestsOptions"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="areaRequests">
            <div class="col-md-12">
                <div id="areaRequestsGrid" style="height: 100%" ng-grid="areaRequestsOptions"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="authorizedRequests" ng-if="authorizedRequestsOptions">
            <div class="col-md-12">
                <div id="authorizedRequestsGrid" style="height: 100%" ng-grid="authorizedRequestsOptions"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="liquidatedRequests" ng-if="liquidatedRequestsOptions">
            <div class="col-md-12">
                <div id="liquidatedRequestsGrid" style="height: 100%" ng-grid="liquidatedRequestsOptions"></div>
            </div>
        </div>
    </div>
</div>


