<div>
    <div id="output"></div>
    <div class="container menu-container">
        <div class="col-md-6 col-sm-6">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <p class="calendar">
                    {{totalAvailablesDays}}<em>d&iacute;as</em>
                </p>
            </div>
        </div>
            <div class="pull-right">
                    <a id="Cancel_Button" name="Cancel_Button" class="btn btn-default" href="#/home">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&ensp;Volver
                    </a>
                </div>
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Vacaciones</h3>
                </div>
                <div class="panel-body">
                    Bienvenido al m&oacute;dulo de Vacaciones, actualmente dispone de <strong> {{totalAvailablesDays}} </strong> d&iacute;as
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#vacationsModal" ng-click="requestId = null;">
                        <i class="glyphicon glyphicon-edit"></i>&nbsp;Solicitar
                    </button>
                </div>
            </div>
        </div>

        <request-list ng-if="data" data="data" open-historic-modal="openHistoricModal(requestData)" open-modal="openModal(requestData, disableForm)" remove-request="removeRequest(requestData)" change-request-status="changeRequestStatus(requestData)"></request-list>

    </div>
</div>

<!-- Modal Request Vacations-->
<div class="modal fade" id="vacationsModal" tabindex="-1" role="dialog" aria-labelledby="vacationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1">Solicitar Vacaciones</h4>
            </div>

            <div class="modal-body">
            
                <form class="form-horizontal" name="requestVacationsForm" ng-submit="requestVacations()" >
                    <fieldset ng-disabled="disableForm">

                        <ul class="list-group col-md-6 col-md-offset-3" ng-show="!disableForm">
                            <li class="list-group-item active">
                                <span class="badge">d&iacute;as</span>
                                Per&iacute;odo
                            </li>
                            <li ng-repeat="period in periods | orderBy: 'periodo'" class="list-group-item">
                                <span class="badge">{{period.diasCalculate}}</span>
                                {{period.periodo}}
                            </li>
                        </ul>

                        <!--<div class="col-md-6 col-md-offset-3">
                            <select ng-show="!disableForm" id="costCenterSelect" name="Employee_CostCenter" class="form-control" data-ng-model="periodSelected" data-ng-options="period as period.periodo for period in periods track by period.id" ng-change="periodChange()" required>
                                <option value="">** Selecccione Un Periodo **</option>
                            </select>
                        </div>-->

                        </br>

                        <div>

                            <div ng-show="!disableForm" class="alert alert-info col-md-12" role="alert" style="text-align: center;">
                                Actualmente dispone de <strong>{{totalAvailablesDays}}</strong> de vacaciones.
                            </div>

                            <div class="alert alert-danger col-md-12" role="alert" ng-if="vacationRequest.pagos > vacationRequest.disfrutados">
                                Los días a solicitar <strong>pagos</strong>, no pueden ser mayor a los <strong>disfrutados</strong>.
                            </div>
                            
                            <div class="alert alert-danger col-md-12" role="alert" ng-if="!areValidDaysCant">
                                Los suma de días solicitados no pueden exceder <strong>{{totalAvailablesDays}}</strong>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="col-md-4 control-label" for="plantName">Disfrutados</label>
                                <div class="col-md-8">
                                    <input id="Text1" name="disfrutados" ng-model="vacationRequest.disfrutados" type="number" placeholder="Disfrutados" class="form-control input-md" ng-change="changeVacationsDays()" required="">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="col-md-4 control-label" for="plantName">Pagos</label>
                                <div class="col-md-8">
                                    <input id="Text1" name="pagos" ng-model="vacationRequest.pagos" type="number" placeholder="Pagos" class="form-control input-md" ng-change="changeVacationsDays()">
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-3 control-label" for="plantName">Descripci&oacute;n</label>
                                <div class="col-md-8">
                                    <input id="Text1" name="observation" ng-model="vacationRequest.observaciones" type="text" placeholder="Descripci&oacute;n" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group col-md-12">
                                <label class="col-md-3 control-label" for="plantName">Fecha</label>
                                <div class="col-md-8">
                                    <div class='input-group date' id='vacationDates'>
                                        <input type='text' class="form-control" ng-model="vacationRequest.dates" ng-disabled="!vacationRequest.disfrutados" required/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-8 control-label" for="Save_Button"></label>
                                <div class="col-md-4">

                                    <button ng-if="!disableForm" id="Save_Button" name="Save_Button" class="btn btn-success" type="submit"
                                        ng-disabled="requestVacationsForm.$invalid || !areValidDaysCant">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&ensp;Guardar
                                    </button>

                                    <a ng-if="!disableForm" id="Cancel_Button" name="Cancel_Button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                    </a>

                                </div>
                            </div>

                        </div>

                    </fieldset>
                </form>
                
            </div>

            <div class="modal-footer footerModalDetaill">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal add Hours Detail-->
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1">Cambiar estado de Solicitud</h4>
            </div>

            <div class="modal-body">
                
                <form class="form-horizontal" name="changeStatusForm" ng-submit="updateRequestStatus()" >
                    <fieldset>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Nuevo Estado</label>
                            <div class="col-md-6">
                                <select id="statusSelect" name="statusSelect" class="form-control" data-ng-model="newStatus" data-ng-options="item as item.label for item in posibleStatus track by item.status" required>
                                <option value="">** Selecccione Un Estado **</option>
                            </select>
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textarea">Notas</label>
                            <div class="col-md-6">                     
                                <textarea class="form-control" ng-model="note" name="textarea" required=""></textarea>
                            </div>
                        </div>

                        </br>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Save_Button"></label>
                            <div class="col-md-8">
                                </br>

                                <button ng-if="showDownloadFile" ng-click="downloadFile()" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&ensp;Descargar Doc.
                                </button>

                                <button id="update_button" name="update_button" class="btn btn-success" type="submit"
                                    ng-disabled="changeStatusForm.$invalid">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&ensp;Guardar
                                </button>

                                <a id="Cancel_Button" name="Cancel_Button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                </a>
                            </div>
                        </div>

                    </fieldset>
                </form>
                
            </div>

            <div class="modal-footer footerModalDetaill">
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historicModal" tabindex="-1" role="dialog" aria-labelledby="historicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1">Histórico de transacciones</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12" ng-if="transactions.length > 0">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Fecha</th>
                                    <th>Responsable</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="historicItem in transactions" class="{{historicItem.estado | statusRequest }}" >
                                    <td>{{historicItem.estado}}</td>
                                    <td>{{historicItem.fecha | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>{{historicItem.responsable}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer footerModalDetaill">
                
            </div>
        </div>
    </div>
</div>