body
  padding-top 2%
  overflow-x hidden

.button-datePicker
  height 34px

.buttonPanel
  padding 9px 11px 9px 11px

.required
  label
    font-weight bold
    &:after
      color #e32
      content ' *'
      display inline