.scheduleHeader
	cursor:	pointer

.scheduleModalFooter
	border-top: none

.timepickersContainer
	padding-left: 4em

.buttonsContainer
	padding-bottom: 2em

.labelContainer
	text-align: center
	font-size: 2em
	color: #CCC

.backButtonContainer
	padding-top: 1em

.fastScheduleHeader
	cursor: pointer
	color: #002146