<div class="row form-crud">
    <div class="col-md-12">

        <div class="panelContainer col-md-12">

            <div class="searchContainer col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" ng-model="templatesFilter">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="buttonsContainer col-md-6">

                <div class="form-group">
                    <div class="input-group">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#/home" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                &ensp;Volver
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="addHoursContainer col-md-12">

            <div ng-repeat="extraHour in extraHours| filter:templatesFilter">
                <ul class="list-group col-md-6 extraHourTemplate">
                    <li class="list-group-item" data-toggle="modal" data-target="#addHoursDetail" ng-click="GetExtraHoursDetaill(extraHour.iDReporteHE)">
                        <span class="badge">{{extraHour.cantidad}}</span>
                        {{extraHour.descripcion}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Modal add Hours Detail-->
<div class="modal fade" id="addHoursDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1">Agregar Detalle</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" name="detailForm">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="plantName">Descripci&oacute;n</label>
                            <div class="col-md-7">
                                <input id="Text1" name="observation" ng-model="upstertDetaill.observaciones" type="text" placeholder="Descripci&oacute;n" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="plantName">Horario</label>
                            <div class="col-md-7">
                                <select id="scheduleId" name="Employee_Schedule" class="form-control" ng-model="upstertDetaill.idHorario" ng-options="horario.iDHorario as horario.descripcion for horario in horarios" required>
                                <option value="">** Selecccione Un Horario **</option>
                            </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="plantName">Fecha/Hora Entrada</label>
                            <div class="col-md-7">
                                <div class='input-group date' id='hoursDates'>
                                    <input type='text' class="form-control" ng-model="upstertDetaill.fechas" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label id="labelTimePicker" class="col-md-4 col-sm-4">Entrada</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <timepicker ng-model="horaInicial" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label id="labelTimePicker" class="col-md-4 col-sm-4">Salida</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <timepicker ng-model="horaFinal" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove"></span>&ensp;Cancelar
                            </button>
                            <button type="button" class="btn btn-success pull-right" ng-disabled="detailForm.$invalid" ng-click="AddDetail()">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&ensp;Guardar
                            </button>
                        </div>

                    </fieldset>
                </form>
                <legend></legend>
                <!--Tabla De Horario-->
                <div class="col-md-12"  ng-if="extraHourDetaills.length > 0">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr >
                                    <th>Entrada</th>
                                    <th>Salida</th>
                                    <th>Observaci&oacute;n</th>
                                    <th>Estado</th>
                                    <th style="text-align: center">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="detaill in extraHourDetaills">
                                <tr>
                                    <td>{{detaill.fechaEntrada | date:'dd/MM/yyyy  h:mm a'}}</td>
                                    <td>{{detaill.fechaSalida  | date:'dd/MM/yyyy  h:mm a'}}</td>
                                    <td>{{detaill.observaciones}}</td>
                                    <td>
                                        <span class="label label-{{ detaill.estado | status_filter:'true' }}">
                                            {{ detaill.estado | status_filter}}
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-danger {{ detaill.estado | status_filter: 'true': 'true' }}" ng-click="DeleteDetaill(detaill)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer footerModalDetaill">
                
            </div>
        </div>
    </div>
</div>
