<div class="container form-crud">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="employee in myEmployees">
            <div class="col-md-12">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img ng-src="app/images/{{employee.genero | imageGenre_filter }}_background.png" />
                            </div>
                            <div class="user">
                                <img class="img-circle" ng-src="app/images/user_{{employee.genero | imageGenre_filter }}.png" />
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">{{employee.nombres}}</h3>
                                    <p class="profession">{{employee.apellidos}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h1 class="motto">{{employee.cedula}}</h1>
                            </div>
                            <div>
                                <div class="list-group">
                                    
                                    <a href="#/detaill/{{employee.idHijo}}/N"  class="list-group-item active">
                                        Total <span class="label label-primary pull-right">{{employee.total}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/L"  class="list-group-item">
                                        Liquidadas <span class="label label-success pull-right">{{employee.liquidadas}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/A"  class="list-group-item">
                                        Aprobadas <span class="label label-info pull-right">{{employee.aprobadas}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/S"  class="list-group-item">
                                        Sin Aprobar <span class="label label-warning pull-right">{{employee.sinAprobar}}</span>
                                    </a>
                                    <a href="#/detaill/{{employee.idHijo}}/R"  class="list-group-item">
                                        Rechazadas <span class="label label-danger pull-right">{{employee.rechazadas}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end back panel -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>