<div class="row form-crud">
    <div class="col-md-12">

        <div class="panelContainer col-md-12">

            <div class="searchContainer col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" ng-model="templatesFilter">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="buttonsContainer col-md-6">

                <div class="form-group">
                    <div class="input-group">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#/home" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                &ensp;Volver
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="addHoursContainer col-md-12">

            <div ng-repeat="extraHour in extraHoursApprover| filter:templatesFilter">
                <ul class="list-group col-md-6 extraHourTemplate">
                    <li class="list-group-item" data-toggle="modal" data-target="#approveHoursDetail" ng-click="GetExtraHoursDetaill(extraHour.iDReporteHE)">
                        <span class="badge">{{extraHour.cantidad}}</span>
                        {{extraHour.descripcion}}
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<!-- Modal Approve Hours Detail-->
<div class="modal fade" id="approveHoursDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1">Agregar Detalle</h4>
            </div>

            <div class="modal-body">
                
                <!--Tabla De Horario-->
                <div class="col-md-12"  ng-if="extraHourDetaills.length > 0">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr >
                                    <th>Entrada</th>
                                    <th>Salida</th>
                                    <th>Observaci&oacute;n</th>
                                    <th>Horario</th>
                                    <th colspan="2" style="text-align: center">
									<input id="selectAll" type="checkbox" name="my-checkbox" >
                                        <!-- <span class="glyphicon glyphicon-cog"></span> -->
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="detaill in extraHourDetaills">
                                <tr>
                                    <td>{{detaill.fechaEntrada | date:'dd/MM/yyyy  h:mm a'}}</td>
                                    <td>{{detaill.fechaSalida  | date:'dd/MM/yyyy  h:mm a'}}</td>
                                    <td>{{detaill.observaciones}}</td>
                                    <td>{{detaill.horario}}</td>
                                    <td ng-if="detaill.estado != 'L'">
                                       <input id="detaill_{{detaill.iDHoraExtraDetalle}}" class="switchDetaill" type="checkbox" name="my-checkbox" ng-model="detaill.estado"/>
                                    </td>
                                    <td ng-if="detaill.estado == 'L'">
                                       <span class="label label-default">Liquidado</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer footerModalDetaill">
                <button type="button" class="btn btn-success" ng-disabled="detailForm.$invalid" ng-click="SaveDetaills()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&ensp;Guardar
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>&ensp;Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
