<div class="container form-crud">
	<form class="form-horizontal" name="reportliquidateForm">
		<fieldset>

			<!-- Form Name -->
			<legend>Reporte Detallado Horas</legend>

			<div class="row">
				<div class="col-md-6">
					<p class="input-group my-datepicker">
						<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.initialDate" is-open="status.InitDateOpen" datepicker-options="initDataOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-datepicker" ng-click="OpenInitDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>

				<div class="col-md-6">
					<p class="input-group my-datepicker">
						<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.finalDate" is-open="status.FinalDateOpen" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-datepicker" ng-click="OpenFinalDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>

			<!-- Button -->
			<div class="row">
				<label class="col-md-6 control-label" for="singlebutton"></label>
				<div class="col-md-4">
					<button id="singlebutton" name="singlebutton" class="btn btn-success" ng-click="LiquidateHours()" ng-disabled="reportliquidateForm.$invalid">
						<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
						&nbsp;Descargar
					</button>
					<a id="Cancel_Button" name="Cancel_Button" class="btn btn-default" href="#/home">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&ensp;Volver
					</a>
				</div>
			</div>

		</fieldset>
	</form>

</div>