﻿<div class="container form-crud">
    <form class="form-horizontal" name="createForm" ng-submit="Save()">
        <fieldset>

            <!-- Form Name -->
            <legend>Crear Empleado</legend>

            <!-- Text input-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Identification">Cédula</label>
                <div class="col-md-6">
                    <p class="input-group">
                        <input id="Employee_Identification" name="Employee_Identification" type="number" placeholder="Cédula" class="form-control input-md" ng-model="employee.cedula" required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default button-datePicker" ng-click="Validate(employee.cedula)" ng-disabled="employee.cedula == null">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Name">Nombres</label>
                <div class="col-md-6">
                    <input id="Name" name="Name" type="text" placeholder="Nombres" class="form-control input-md" ng-model="employee.nombres" required>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="lastName">Apellidos</label>
                <div class="col-md-6">
                    <input id="LastName" name="lastName" type="text" placeholder="Apellidos" class="form-control input-md" ng-model="employee.apellidos" required="">
                </div>
            </div>

            <!--Fecha "DatePicker"-->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="fecha">Fecha Ingreso</label>
                <div class="col-md-6">
                    <div class='input-group date' id='fechaIngreso'>
                        <input type='text' class="form-control" ng-model="employee.fechaIngreso" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <!--Fecha "DatePicker"-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fecha">Fecha Finalización Contrato</label>
                <div class="col-md-6">
                    <div class='input-group date' id='fechaTerminacion'>
                        <input type='text' class="form-control" ng-model="employee.fechaTerminacionContrato" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Teléfono</label>
                <div class="col-md-6">
                    <input id="phone" name="phone" type="text" placeholder="Teléfono" class="form-control input-md" ng-model="employee.telefono">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Celphone">Celular</label>
                <div class="col-md-6">
                    <input id="Celphone" name="Celphone" type="text" placeholder="Celular" class="form-control input-md" ng-model="employee.movil">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Email">Email</label>
                <div class="col-md-6">
                    <input id="Email" name="Email" type="email" placeholder="Correo Electrónico" class="form-control input-md" ng-model="employee.email" required="">
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Office">Nivel Cargo</label>
                <div class="col-md-6">
                    <select id="Employee_Office" name="Employee_Office" class="form-control" ng-model="employee.iDCargo" ng-options="office.iDCargo as office.cargo for office in offices"  required>
                        <option value="">** Selecccione Un Cargo **</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="Employee_Office_Extended">Cargo</label>
                <div class="col-md-6">
                     <input id="Employee_Office_Extended" name="Employee_Office_Extended" type="text" placeholder="Cargo Extendido" class="form-control input-md" ng-model="employee.cargoExtendido">
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Contract">Contrato</label>
                <div class="col-md-6">
                    <select id="Employee_Contract" name="Employee_Contract" class="form-control" ng-model="employee.iDContrato" ng-options="contract.iDContrato as contract.contrato for contract in contracts"  required>
                        <option value="">** Selecccione Un Contrato **</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="Employee_Prorroga">Prórroga</label>
                <div class="col-md-6">
                     <input id="Employee_Prorroga" name="Employee_Prorroga" type="text" placeholder="Prorroga" class="form-control input-md" ng-model="employee.prorroga">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Schedule">Horario</label>
                <div class="col-md-6">
                    <select multiple="true" id="Employee_Schedule" name="Employee_Schedule" class="form-control" ng-model="employee.iDHorario" ng-options="horario.iDHorario as horario.descripcion for horario in horarios" required>
                        <option value="">** Selecccione Un Horario **</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Chief">Jefe Directo</label>
                <div class="col-md-6">
                    <select id="Employee_Chief" name="Employee_Chief" class="form-control" ng-model="employee.iDJefe" ng-options="empleado.iDEmpleado as empleado.apellidos + ' ' + empleado.nombres for empleado in empleados" required>
                        <option value="">** Selecccione Un Empleado **</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Area">Área</label>
                <div class="col-md-6">
                    <select id="Employee_Area" name="Employee_Area" class="form-control" ng-model="employee.iDArea" ng-options="area.iDArea as area.nombre for area in areas" required>
                        <option value="">** Selecccione Un Área **</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_SubArea">subArea</label>
                <div class="col-md-6">
                    <select id="Employee_SubArea" name="Employee_SubArea" class="form-control" ng-model="employee.iDSubArea" ng-options="subArea.iDSubArea as subArea.nombre for subArea in subAreas" required>
                        <option value="">** Selecccione Una subArea **</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Factory">Empresa</label>
                <div class="col-md-6">
                    <select id="Employee_Factory" name="Employee_Factory" class="form-control" ng-model="employee.iDEmpresa" ng-options="factory.iDEmpresa as factory.nombre for factory in factories" required>
                        <option value="">** Selecccione Una Empresa **</option>
                    </select>
                </div>
            </div>

             <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Role">Rol</label>
                <div class="col-md-6">
                    <select id="Employee_Role" name="Employee_Role" class="form-control" ng-model="employee.iDRol" ng-options="rol.iDRol as rol.nombre for rol in roles" required>
                        <option value="">** Selecccione Un Rol **</option>
                    </select>
                </div>
            </div>

             <div class="form-group">
                <label class="col-md-4 control-label" for="Employee_Status"></label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="checkboxes-0">
                            <input type="checkbox" name="checkboxes" id="Employee_Status" value="true" ng-model="employee.estado">
                            Empleado Activo ?
                        </label>
                    </div>
                </div>
            </div>

             <!-- Select Basic -->
            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_Gender">Género</label>
                <div class="col-md-6">
                    <select id="Select1" name="Employee_Gender" class="form-control" ng-model="employee.genero"  required>
                        <option value="">** Selecccione Un Género **</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_CostCenter">Centro de Costo</label>
                <div class="col-md-6">
                    <select id="costCenterSelect" name="Employee_CostCenter" class="form-control" ng-model="employee.iDCentro" ng-options="centerCost.iDCentroCosto as centerCost.nombre for centerCost in centerCosts"  required>
                        <option value="">** Selecccione Un Centro de Costo **</option>
                    </select>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label" for="Employee_SubCostCenter">sub Centro de Costo</label>
                <div class="col-md-6">
                    <select id="subCostCenterSelect" name="Employee_SubCostCenter" class="form-control" ng-model="employee.iDSubCentro" ng-options="subCenterCost.iDSubCentroCosto as subCenterCost.nombre for subCenterCost in subCenterCosts"  required>
                        <option value="">** Selecccione Un Sub Centro de Costo **</option>
                    </select>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-8 control-label" for="Save_Button"></label>
                <div class="col-md-4">


                    <button id="Save_Button" name="Save_Button" class="btn btn-success" type="submit"
                        ng-disabled="createForm.$invalid">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&ensp;Guardar
                    </button>

                    <a id="Cancel_Button" name="Cancel_Button" class="btn btn-default" href="#/home">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&ensp;Volver
                    </a>

                </div>
            </div>

        </fieldset>
    </form>
</div>
