﻿<div class="container form-crud">

    <div class="col-md-12">

        <!--Botones principales-->
        <div class="col-md-6 col-sm-12 col-xs-12 buttonsContainer">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-primary btn-block" ng-click="createMode = !createMode; editMode = false; deleteMode = false; LimpiarHorario()">
                    <span class="glyphicon glyphicon-plus"></span>
                    &ensp;Nuevo
                </button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-default btn-block" ng-click="editMode = !editMode; createMode = false; deleteMode = false; OcultarHorario(); GetHorarios()">
                    <span class="glyphicon glyphicon-edit"></span>
                    &ensp;Editar
                </button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-danger btn-block" ng-click="deleteMode = !deleteMode; editMode = false; createMode = false; OcultarHorario(); GetHorarios()">
                    <span class="glyphicon glyphicon-trash"></span>
                    &ensp;Eliminar
                </button>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 backButtonContainer">
                <a href="#/home" class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    &ensp;Volver
                </a>
            </div>

        </div>

        <!--Titulo-->
        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="!editMode && !createMode && !deleteMode">
            <div class="col-md-12 labelContainer">
                <label>Administrador de Horarios</label>
            </div>
        </div>

        <!--editar Horario-->
        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="editMode">
            <form class="form-horizontal" name="formSchedule">
                <fieldset>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="scheduleFilter">Horario</label>
                        <div class="col-md-9">
                            <select id="Select1" name="Employee_Schedule" class="form-control" ng-model="scheduleToEdit.currentIdHorario" ng-options="horario.iDHorario as horario.descripcion for horario in horarios" required>
                                <option value="">** Selecccione Un Horario **</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button href="#" class="btn btn-block btn-primary" ng-click="CargarHorario()" ng-disabled="formSchedule.$invalid">
                                &ensp;Cargar
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button href="#" class="btn btn-block btn-success" ng-click="UpdateHorario()" ng-disabled="EvaluateValidScheduler()">
                                &ensp;Guardar
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <!--Crear Horario-->
        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="createMode">
            <form class="form-horizontal" name="createScheduleForm" novalidate>
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="scheduleName">Descripci&oacute;n</label>
                        <div class="col-md-9">
                            <input id="scheduleName" name="scheduleName" type="text" placeholder="Descripci&oacute;n" ng-model="newSchedule.description" class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#FastSchedule" ng-click="MostrarHorario(false)" ng-disabled="createScheduleForm.$invalid">
                                <span class="glyphicon glyphicon-tasks"></span>&ensp;Básico
                            </button>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <button class="btn btn-block btn-primary" ng-click="MostrarHorario(true)" ng-disabled="createScheduleForm.$invalid">
                                <span class="glyphicon glyphicon-calendar"></span>&ensp;Personalizado
                            </button>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <button class="btn btn-block btn-success" ng-click="GuardarHorario()" ng-disabled="EvaluateValidScheduler()">
                                <span class="glyphicon glyphicon-floppy-disk"></span>&ensp;Guardar
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <!--Eliminar Horario-->
        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="deleteMode">
            <form class="form-horizontal" name="createScheduleForm" novalidate>
                <fieldset>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="scheduleFilter">Horario</label>
                        <div class="col-md-9">
                            <select id="Select2" name="Employee_Schedule" class="form-control" ng-model="scheduleToDelete.currentIdHorario" ng-options="horario.iDHorario as horario.descripcion for horario in horarios" required>
                                <option value="">** Selecccione Un Horario **</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                            <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#DeleteSchedule" ng-click="ValidarEliminarHorario(scheduleToDelete.currentIdHorario)" ng-disabled="createScheduleForm.$invalid">
                                <span class="glyphicon glyphicon-remove"></span>&ensp;Eliminar
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

    </div>
    <legend></legend>

    <!--Tabla De Horario-->
    <div class="col-md-12" ng-show="showTable" id="scheduleContainer">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead ng-if="editMode || customCreateMode">
                    <tr class="scheduleHeader" data-toggle="modal" data-target="#ScheduleSetHoursModal">
                        <!--<th></th>-->
                        <th ng-click="ModificarHoras('lunes')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;Lunes
                        </th>
                        <th ng-click="ModificarHoras('martes')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;Martes
                        </th>
                        <th ng-click="ModificarHoras('miercoles')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;Miercoles
                        </th>
                        <th ng-click="ModificarHoras('jueves')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;Jueves
                        </th>
                        <th ng-click="ModificarHoras('viernes')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;Viernes
                        </th>
                        <th ng-click="ModificarHoras('sabado')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;S&aacute;bado
                        </th>
                        <th ng-click="ModificarHoras('domingo')">
                            <span class="glyphicon glyphicon-pencil"></span>&ensp;Domingo
                        </th>
                    </tr>
                </thead>
                <thead ng-if="createMode && !customCreateMode" >
                    <tr id="fastScheduleHeader" data-placement="bottom"  data-trigger="hover" data-original-title="Configuración Rápida" data-content="Haga Click sobre el título para modificar" data-toggle="popover" class="fastScheduleHeader" ng-click="openFastScheduleModal()">
                        <!--<th></th>-->
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>S&aacute;bado</th>
                        <th>Domingo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <!--<th>Entrada</th>-->
                        <td>{{currentSchedule.lunesEntrada      | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.martesEntrada     | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.miercolesEntrada  | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.juevesEntrada     | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.viernesEntrada    | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.sabadoEntrada     | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.domingoEntrada    | hoursFormat_filter}}</td>
                    </tr>
                    <tr class="danger">
                        <!--<th>Salida</th>-->
                        <td>{{currentSchedule.lunesSalida       | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.martesSalida      | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.miercolesSalida   | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.juevesSalida      | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.viernesSalida     | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.sabadoSalida      | hoursFormat_filter}}</td>
                        <td>{{currentSchedule.domingoSalida     | hoursFormat_filter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Schedule -->
<div class="modal fade" id="ScheduleSetHoursModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Horario para: {{modalDay}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12 timepickersContainer">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <label>Entrada</label>
                        <timepicker ng-model="inHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        <!--<div>{{inHour}}</div>-->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <label>Salida</label>
                        <timepicker ng-model="outHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        <!--<div>{{outHour}}</div>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer scheduleModalFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="GuardarHorasPorDia()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    &ensp;Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Fast Schedule -->
<div class="modal fade" id="FastSchedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1">Configuración R&aacute;pida de Horario</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Estimado Usuario!</strong> Ajuste el Horario y escoja los días para los que desea aplicar esta configuración.
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 timepickersContainer">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <label>Entrada</label>
                        <timepicker ng-model="inHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        <!--<div>{{inHour}}</div>-->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <label>Salida</label>
                        <timepicker ng-model="outHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        <!--<div>{{outHour}}</div>-->
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend></legend>

                            <!-- Multiple Checkboxes (inline) -->
                            <div class="form-group">
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.lunes" id="lunesCheckBox" value="true">
                                        Lunes
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.martes" id="martesCheckBox" value="true">
                                        Martes
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.miercoles" id="miercolesCheckBox" value="true">
                                        Miercoles
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.jueves" id="juevesCheckBox" value="true">
                                        Jueves
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.viernes" id="viernesCheckBox" value="true">
                                        Viernes
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.sabado" id="sabadoCheckBox" value="true">
                                        Sábado
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label class="checkbox-inline" for="days-0">
                                        <input type="checkbox" name="days" ng-model="daysCheckBox.domingo" id="domingoCheckBox" value="true">
                                        Domingo
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
            <div class="modal-footer scheduleModalFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="LimpiarHorarioRapido()">
                    <span class="glyphicon glyphicon-repeat"></span>
                    &ensp;Limpiar
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="GuardarHorarioRapido()" ng-disabled="EvaluateValidHours()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    &ensp;Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Schedule -->
<div class="modal fade" id="DeleteSchedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H2">Eliminar Horario</h4>
            </div>
            <div class="modal-body" >
                <div ng-if="invalidSchedule">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error Al Eliminar! </strong>Existen Empleados con este horario Asociado.
                    </div>

                    <div class="col-md-12" >
                        <div class="table-responsive">
                            <table class="table table-bordered">                            
                                <thead>
                                    <tr>
                                        <!--<th></th>-->
                                        <th>Cedula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="employee in asociatedEmployees">
                                    <tr>
                                        <td>{{employee.cedula}}</td>
                                        <td>{{employee.nombres}}</td>
                                        <td>{{employee.apellidos}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-if="validSchedule">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>Está seguro que desea eliminar el Horario:</label>
                        <br />
                        <div>{{deleteSchedule}}</div>
                    </div>
                </div>
                    
            </div>
            <div class="modal-footer scheduleModalFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="EliminarHorario()" ng-disabled="ValidateDeleteScheduler()">
                    <span class="glyphicon glyphicon-remove"></span>
                    &ensp;Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
</div>
